<header>
  <%= link_to root_path, :id => "logo" do %>
    <span id="logo_part_1"><%= t :title_ip %></span> <span id="logo_part_2"><%= t :title_name %></span>
  <% end %>
  <nav id="nav_signin">
    <%= link_to t( :sign_in_with ), signin_path, :id => "signin" %>
    <ul id="services_list">
      <li>
        <%= link_to "/auth/facebook" do %>
          <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/twitter" do %>
          <%= image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/google" do %>
          <%= image_tag "google_32.png", :size => "32x32", :alt => "Google" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/myopenid" do %>
          <%= image_tag "openid_32.png", :size => "32x32", :alt => "MyOpenID" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/yahoo" do %>
          <%= image_tag "yahoo_32.png", :size => "32x32", :alt => "Yahoo" %>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/aol" do %>
          <%= image_tag "aol_32.png", :size => "32x32", :alt => "Aol" %>
        <% end %>
      </li>
    </ul>
  </nav>

</header>

