<%= form_for @address, :as => :address, :url => {:controller => :addresses ,:action => 'create'}  do |f| %>
  <%= render "shared/div_null" %>
  <div class="context">
    <h2>Create URL:</h2>
    <label for="address_website_url" id="url" >Link </label>
    <%= f.url_field :website_url, :class => "url" %>
    <br />

    <label for="address_website_domain" id="disable" >Domain </label>
    <%= f.text_field :website_domain, :class => "round" %>
    <br />

    <span id="generator">Generate name:
      <%= link_to "tiny", "#" %>
       or
      <%= link_to "hugy", "#" %>
    </span>
    <br />

    <label for="address_website_name" id="disable" >Name </label>
    <%= f.text_field :website_name, :class => "round" %>
    <br />
    <label for="address_website_tags" id="disable" >Tags </label>
    <%= f.text_field :website_tags, :class => "round" %>
    <br />

  </div>
  <%= render "shared/div_null" %>
  <div class="context">
    <h2>Here is your URL:</h2>
    <table>

    </table>
  </div>
  <%= render "shared/div_null" %>
<% end %>

