<%= form_for @address, :as => :link, :url => {:controller => :addresses ,:action => 'create'}  do |f| %>
  <%= render "shared/div_null" %>
  <div class="context">
    <h2><%= t :create_url %></h2>
    <%= label :link, :url, :id => "url" %>
    <%= f.url_field :url, :class => "url" %>
    <br />

    <%= label :link, :domain, :id => "disable" %>
    <%= f.text_field :domain, :class => "round" %>
    <br />

    <span id="generator"><%= t :generate_name %>
      <%= link_to t( :tiny ), "#" %>
       <%= t :or %>
      <%= link_to t( :hugy ), "#" %>
    </span>
    <br />

    <%= label :link, :name, :id => "disable" %>
    <%= f.text_field :name, :class => "round" %>
    <br />
    <%= label :link, :tags, :id => "disable" %>
    <%= f.text_field :tags, :class => "round" %>
    <br />

  </div>
  <%= render "shared/div_null" %>
  <div class="context">
    <h2><%= t :here_is_your_url %></h2>
    <table>

    </table>
  </div>
  <%= render "shared/div_null" %>
<% end %>

